.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0rem 4rem 0rem 4rem;
}

body {
  background-color: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fa8e35;
  padding: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

h2 {
  font-size: 1.2rem;
  margin: 1.6rem;
  color: #fa8e35;
}

.quote {
  color: #264653;
  font-size: 1.1rem;
  font-weight: 800;
  margin: 0rem 0rem 1rem 0rem;
}

.fav-quote {
  color: #264653;
  font-weight: 600;
}

.button-wrapper {
  position: relative;
  width: 7rem;
  height: 3rem;
}

button {
  border: none;
  outline: none;
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 100%;
  transition: 0.6s ease;
  align-items: center;
  justify-content: center;
}

.animation-box {
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: rgba(243, 243, 243, 0.2);
  width: 100%;
  height: 100%;
  transition: ease 0.3s;
}

button:hover {
  background-color: white;
  border: solid 1px orange;
  color: #f4a261;
}

button:hover > .animation-box {
  height: 0;
}

.anecdote-button {
  color: #143947;
  font-weight: 700;
  background-color: rgba(245, 116, 17, 0.8);
}

.vote-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.vote-section p {
  margin-bottom: 1rem;
  color: #be6e23;
  font-weight: 600;
}

.vote-button {
  color: #ffffff;
  font-weight: 600;
  background-color: rgba(38, 70, 83, 0.8);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0rem 0rem 0rem;
}
